@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap');
/* font-family: 'Quattrocento Sans', sans-serif; */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #1d2126;
    
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*='col-']{
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media ( min-width:768px ) {
    
    .about-social-media > div :hover {
        background-color: rgba(90, 5, 5, 0.486);
    }

    .header {
        align-items: center;
        display: flex;
        height: 60px;
    }
    .row {
        align-items: center;
    }
    .container{
        max-width: 720px;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .menu-top > nav > ul {
        display: flex;
        justify-content: space-between;
    }
    .menu-top > nav > ul > li > a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: #a4aead;
        font-size: 13px;
        padding: 1px 4px ;
        border: 2px solid #1d2126 ;
        border-radius: 4px
    }
    .menu-top >nav > ul > li > .home-header{
        border:2px solid #23b7a4 ;
        color: #23b7a4;
    }
    .menu-top > nav > ul > li > a:hover {
        border: 2px solid #5a6058
    }
    .col-sm-2 {
        display: flex;
        position: relative;
    }
    .col-sm-2 > button {
        background-image: url(img/icon1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1d2126;
        position: absolute;
        right: 10px;
        top: 4px;
        width: 16px;
        height: 12px;
        border: none;
    }
    .col-sm-2 > form >input {
        width: 110px;
        background-color: #1d2126;
        border: 2px solid #5b6168 ;
        border-radius: 4px;
    }
    .col-sm-2 > form >input::placeholder{
        font-size: 10px;
        position: absolute;
        top: 3px;
        
    }
    /* slaider  */

    #slaider {
        background-image: url(img/img1.png);
        background-repeat: no-repeat;
        background-position: right;
        height: 326px;
        display: flex;
        align-items: center;
    }
    
    .welcome-slaider {
        font-size: 23px;
        font-family: 'Quattrocento Sans', sans-serif;
        color: white;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .welcome-lorem{
        margin-left: 15px;
        font-size: 13px;
        width: 75%;
        word-spacing: 0px;
        font-weight: 400;
        color: #c1c5cc;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;

    }
    .welcome-button{
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        width:30% ;
    }
    .welcome-button > div > a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: 'Quattrocento Sans', sans-serif;
        padding: 7px 14px ;
        border: 2px solid white;
        border-radius: 4px;
        word-spacing: 1px;
    }
    .welcome-button > div > a:hover {
        background-color:#23b7a4 ;
        border: 2px solid #23b7a4;
    }
    /* about  */
    #about {
        margin-top: 50px;
    }
    .modest-about {
        font-size: 30px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin-bottom: 20px;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-7 > div :first-child{
        margin-bottom: 45px;
    }
    .modest-top {
        margin-bottom: 0px;
    }
    .lorem-about {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px ;
        color: #8d8f92;
    }
    .about-bolder {
        font-weight: bold;
        color: rgb(90 90 90);
    }
    .about-social-media{
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
        
    }
    .about-social-media  {
        margin-top: 60px;
    }
    .about-contact {
        
        padding: 10px 25px;
        margin-right: 1px;
        background-color: #c8cdd0;
    }
    .face {
        background-image: url(img/face.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .twit {
        background-image: url(img/twit.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .gmail{
        background-image: url(img/gmail.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .ball {
        background-image: url(img/ball.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .be {
        background-image: url(img/be.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .about-right-5{
        display: flex;
        margin-top: 5px;
    }
    .about-number {
        background-color: #23b7a4;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        line-height: 35px;
        color: white;
        width: 35px;
        height: 35px;
    }
    .about-column {
        margin-left: 10px;
    }
    .about-dedication{
        font-family: 'Quattrocento Sans', sans-serif;
        color:black;
        font-weight: bolder;
    }
    .about-working {
        color:black;
        font-weight: bolder;
    }
    .text-about{
        font-family: 'Open Sans', sans-serif;
        color: #8d8f92;
        word-spacing: 3px;
    }
    .new-margin{
        margin-top: 15px;
    }
    /* team */
    #team {
        margin-top: 30px;
    }
    .col-sm-6{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .meet-face {
        margin-top: 15px;
    }
    .team-a {
        margin-left: 15%;
    }


    ::-webkit-input-placeholder {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 8px;
        color: #a4aead;
        }
        :-moz-placeholder {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 8px;
        color: #a4aead;
        }
        ::-moz-placeholder {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 8px;
        color: #a4aead;
        }
        :-ms-input-placeholder {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 8px;
        color: #a4aead;
        }
    
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button,
        input::-webkit-search-results-button,
        input::-webkit-search-results-decoration{
            display: none;
        }
}
@media ( min-width:992px ) {
    .container{
        max-width: 960px;
    }
    .col-md-2 > button {
        margin-right: 30px;
    }
    .welcome-lorem > p {
        max-width: 500px;
    }
    .welcome-button {
        width: 24%;
    }
    .col-sm-7 > div :first-child {
        margin-bottom: 14px;
    }
    .team-view {
        display: flex;
        
    }
    .img-face {
        width: 220px;
    }
    .meet-face {
        margin-right:11px;
    }
    
}
@media ( min-width:1200px ) {
    .container{
        max-width: 1140px;
    }
    #slaider {
        background-image: url(img/img1.png);
        background-repeat: no-repeat;
        background-position: right;
        height: 560px;
        display: flex;
        align-items: center;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-2 > button {
        margin-right: 65px;
    }
    .welcome-slaider > h1 {
        font-size: 36px;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    .welcome-lorem {
        width: 80%;
    }
    .welcome-button {
        width: 20%;
    }
    .about-social-media {
        margin-top: 26px;
    }
    .img-face {
        width: 263px;
    }
    
    .about-social-media {
        margin-top: 38px;
    }
    .about-right-5 {
        margin-top: 15px;
    }
}

/* only mobile */
@media ( max-width:767px ) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    } 
    .row > .menu-top {
        display: flex;
        align-items: center;
        height: 60px;
    }
    .col-xs-hidden {
        display: none;
    }
    .logo-top {
        display: flex;
        justify-content: center;
    }
    .menu-top > nav > ul > li > .home-header {
        color: #23b7a3;
        border: 2px solid #23b7a3;
    }
    .col-xs-12 > nav > ul > li > a {
        font-size: 14px;
        text-decoration: none;
        color: #a4aead;
        font-family: 'Open Sans', sans-serif;
        padding: 2px 10px ;
        border: 2px solid #1d2126;
        border-radius:5px;
        
    }
    .row > .col-xs-12 > nav > ul > li > a:hover{
        border: 2px solid #5a6058
    }
    .row > .col-xs-12 > nav > ul > li{
        padding: 15px 10px ;
    }
    .menu-top {
        overflow: scroll;
        overflow-y: hidden;
        width: 88%;
    }
    .menu-top > nav {
        margin-left: -20px;
    }

    .menu-top > nav > ul  {
        display: flex;
        flex-wrap: nowrap;
        
    }
    #slaider {
        background-image: url(img/img1.png);
        height: 300px;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    #slaider > .container {
        height: 300px;
        display: flex;
        align-items: center;
    }
    #slaider > .container > .row {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;      
    }
    
    #slaider > .container > .row > div {
        margin-bottom: 30px;
    }
    .welcome-slaider {
        font-size: 20px;
        color: #ffffff;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    .welcome-lorem {
        color: #ccd0d7;
        font-size: 12px;
        word-spacing:0.5px;
        font-family: 'Open Sans', sans-serif;
    }
    .welcome-button {
        display: flex;
        justify-content: space-between;
        width: 260px;  
    }
    .welcome-button > div > a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Quattrocento Sans', sans-serif;
        padding:10px 15px ;
        border: 2px solid #ffffff;
        border-radius: 5px;
    }
    .welcome-button > div > a:hover{
        border: 2px solid #23b7a4;
        background-color: #23b7a4;
    }
    .modest-about {
        margin-top: 25px;
        margin-bottom: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 20px;
    }
    #about > .container > .row > .col-xs-7 {
        display: flex;
        flex-direction: column;
    }
    .lorem-about{
        color: #8d8f92;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .about-bolder {
        font-weight: bolder;
        color: #7e8083;
    }
    .new-position {
        position: relative;
        
    }
    .about-social-media{
        position: absolute;
        bottom: -35px;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 25px;
    }
    .about-contact {
        padding: 10px 25px;
        background-color:#c8cdd0;
        margin-right: 10px;
    }
    .face {
        background-image: url(img/face.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .twit {
        background-image: url(img/twit.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .gmail{
        background-image: url(img/gmail.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .ball {
        background-image: url(img/ball.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .be {
        background-image: url(img/be.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    /* right window */
    .new-margin {
        margin-top: 35px;
    }
    .about-right-5 {
        display: flex;
        margin-bottom: 20px;
    }
    .about-number{
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-family: 'Quattrocento Sans', sans-serif;
        background-color: #23b7a4;
        color: white;
        font-size: 16px;
    }
    .about-column {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .about-dedication {
        font-size: 15px;
        color: #292f36;
        font-weight: 700;
        font-family: 'Quattrocento Sans', sans-serif;
        margin-bottom: 4px;
    }
    .about-working {
        font-size: 15px;
        color: #292f36;
        word-spacing: 1px;
        font-weight: 700;
        font-family: 'Quattrocento Sans', sans-serif;
        margin-bottom: 4px;
    }
    .text-about{
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #8d8f92;
    }
    /* PICTURE WITH TEAM */
    .new-row {
        display: block;
    }
    #team {
        margin-top: 70px;
    }
    .team-all {
        text-align: center;
    }
    
    .team-a{
        text-align: left;
        margin-top: 10px;
        margin-left: 20%;
    }
    .name-team {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 21px;
        color: #292f36;
        margin-bottom: 5px;
    }
    .post-team {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #8d8f92;
        margin-bottom: 15px;
    }
}